.ulRectStyle {
  list-style-type: none;
  /* display: inline-block;
  height: 100%; */
  padding:0;
  width:100%;
  overflow:auto;
}

.liRectStyle {
  width: 100%; 
}

.halfsize {
  width: 50%; 
   /* border: 1px solid; */
   align: left;
}


.withBorder {
  border: 1px solid;
}

.leftfloat {
  float: left;
}

.leftallign {
  align: left;
}

.rightallign {
  align: right;
}


body {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight',
				 'Helvetica Neueu', Helvetica, Arial, sans-serif;
	margin: 0;
	background-color: #efeff5;
  }
  
  .stopwatch { text-align: center }
  .stopwatch-timer {
	font-size: 76px;
	font-weight: 100;
	line-height: 160px;
	
	margin: 0;
	
	border: solid #cecfd0;
	border-width: 1px 0;
	background-color: white;
  }
  
  .stopwatch-laps {
	padding: 0 0 0 20px;
	list-style-type: none;
  }
  
  .stopwatch-lap {
	font-size: 20px;
	line-height: 60px;
	padding-right: 20px;
	text-align: right;
	border-bottom: 1px solid #d9dae0;
  }
  
  .stopwatch-lap strong {
	float: left;
	color: #7f8083;
	font-weight: 100;
  }
  
  .stopwatch-lap strong::before { content: 'Lap ' }
  
  .btn {
	font-family: inherit;
	font-size: 20px;
	
	display: inline-block;
	
	width: 170px;
	height: 72px;
	margin: 24px;
	padding: 0;

  }
	
  
  .start-btn { color: #4bd761 }
  .stop-btn  { color: #fd3d2a }