.ulRectStyle {
  list-style-type: none;
  /* display: inline-block;
  height: 100%; */
  padding:0;
  width:100%;
  overflow:auto;
}

.liRectStyle {
  width: 100%; 
}

.halfsize {
  width: 50%; 
   /* border: 1px solid; */
   align: left;
}


.withBorder {
  border: 1px solid;
}

.leftfloat {
  float: left;
}

.leftallign {
  align: left;
}

.rightallign {
  align: right;
}


body {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight',
				 'Helvetica Neueu', Helvetica, Arial, sans-serif;
	margin: 0;
	background-color: #efeff5;
  }
  
  .btn {
	font-family: inherit;
	font-size: 20px;
	
	display: inline-block;
	
	width: 170px;
	height: 72px;
	margin: 24px;
	padding: 0;

  }
  

  .btnOver {
    font-family: inherit;
    font-size: 28px;
    
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
    width: 600px;
    height: 100px;
    margin: 10px;
    padding: 0;

    }


  .btnLed {
    font-family: inherit;
    font-size: 18px;
    
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
    width: 140px;
    height: 52px;
    margin: 24px;
    padding: 0;

    }
    


  .start-btn { color: #4bd761 }
  .stop-btn  { color: #fd3d2a }